:root {
    --primary-color:#CC9933;
    --border-color:#e1e1e1;
}

/* Muller Bold*/
@font-face {
    font-family: 'Muller Bold';
    font-style: normal;
    font-weight: 700;
    src: local(''),
         url('../fonts/MullerBold.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/MullerBold.woff') format('woff'); /* Modern Browsers */
}

/* Muller Light */
@font-face {
    font-family: 'Muller Light';
    src: local(''),
         url('../fonts/MullerLight.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/MullerLight.woff') format('woff'); /* Modern Browsers */
}

/* Muller Medium */
@font-face {
    font-family: 'Muller';
    font-style: normal;
    font-weight: 500;
    src: local(''),
         url('../fonts/MullerMedium.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/MullerMedium.woff') format('woff'); /* Modern Browsers */
}

/* Muller Regular */
@font-face {
    font-family: 'Muller';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('../fonts/MullerRegular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/MullerRegular.woff') format('woff'); /* Modern Browsers */
}
p {
    margin: 0;
}

h2 {
    margin: 0;
}

.container {
    max-width: 1200px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
}

a {
    text-decoration: none;
    transition: color .3s ease;
}

a:hover {
    color: orange;
}

a:active {
    color: #A47312;
}

a:focus {
    outline: 3px solid var(--primary-color);
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
}

html {
    font-family: 'Muller', sans-serif;
    background-color: #e5e5e5;
}

* {
    box-sizing: border-box;
}

.btn {
    padding: 13px 20px;
    border: 1px solid var(--primary-color);
    box-sizing: border-box;
    border-radius: 10px;
    height: 42px;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: var(--primary-color);
    transition: background-color .3s ease, color .3s ease;
}

.btn:hover {
    background-color: var(--primary-color);
    color: white;
    cursor: pointer;
    transform: translateY(1px);
}

.btn:active {
    background-color: #A47312;
}

/* Header */

.header { 
    height: 184px;
    margin-bottom: 70px;
}

.section-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    padding-top: 30px;
}

.logo {
    margin-right: 40px;
}

.header-contact {
    font-size: 20px;
    line-height: 20px;
    font-weight: 500;
    color: #666666;
}

.header-account-link {
    margin-left: auto;
    font-size: 16px;
    line-height: 16px;
    font-weight: 400;
    color: var(--primary-color);
    background: url(../img/Vector.svg) left center no-repeat transparent;
    background-size: 21px 12px;
    padding-left: 28px;
}

.nav-list {
    display: flex;
    align-items: center;
    background-color: white;
    padding: 10px 45px;
    border-radius: 15px;
    width: 1170px;
}


.nav-item:not(:last-child) {
    margin-right: 45px;
}

.nav-link {
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: #666666;
}

.line {
    border-right: 1px solid var(--border-color);
    height: 50px;
    padding: 0;
    margin-right: 57px;
    
}

.section-nav {
    display: flex;
    align-items: center;
    margin-top: 30px;
    padding-right: 0;
}

.header-right {
    margin-left: auto;
}

/* Special */

.section-special {
    margin-bottom: 70px;
}

.section-special-heading {
    margin: 0;
    font-weight: 400;
    font-size: 40px;
    line-height: 40px;
    color: #333333;
    margin-bottom: 20px;
    padding-left: 40px;
}

.special-content {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
}

.section-card {
    width: 573px;
    height: 258px;
}

.card-content {
    display: flex;
    flex-direction: column;
    padding: 40px;
    padding-right: 0;
    width: 350px;
}

.section-card-heading {
    font-weight: 700;
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 15px;
}

.section-card-heading-link {
    color: #FFFFFF;
}

.section-card-text {
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    color: #FFFFFF;
    opacity: 0.8;
    margin-bottom: 47px;
}

.more {
    display: flex;
    align-items: center;
}

.section-card-link {
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: #FFCC66;
    margin-right: 4px;
}

.section-card-link-icon {
    background-image: url(/img/strelovchka.svg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 16px;
    height: 16px;
}

.section-card-big {
    width: 573px;
    height: 540px;
    background-image: url(/img/lux.png);
}

.maldives {
    background: linear-gradient(90deg, rgba(48, 64, 89, 0.84) -2.9%, rgba(53, 65, 83, 0) 65.7%), url(/img/maldives.png);
}

.krit {
    background: linear-gradient(90deg, rgba(48, 64, 89, 0.84) -2.9%, rgba(53, 65, 83, 0) 65.7%), url(/img/krit.png);
    margin-top: 23px;
}

.card-big-content {
    display: flex;
    flex-direction: column;
    width: 300px;
    padding-top: 211px;
    padding-left: 40px;
    padding-bottom: 40px;
}

.section-card-big-heading {
    font-weight: 700;
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 15px;
}

.section-card-big-heading-link {
    color: #FFFFFF;
}

.section-card-big-text {
    font-weight: 400;
    font-size: 30px;
    line-height: 30px;
    color: #FFFFFF;
    opacity: 0.8;
    margin-bottom: 47px;
}


/* About */

.section-about {
    margin-bottom: 70px;
}

.section-about-heading {
    font-weight: 400;
    font-size: 40px;
    line-height: 40px;
    color: #333333;
    padding-left: 40px;
    margin-bottom: 11px;
}

.section-about-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 200%;
    color: #000000;
    width: 888px;
}

/* Services */

.section-services {
    margin-bottom: 33px;
}

.section-services-heading {
    margin-bottom: 20px;
    padding-left: 40px;
    font-weight: 400;
    font-size: 40px;
    line-height: 40px;
    color: #333333;
}

.section-services-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.section-services-item {
    width: 573px;
    background-color: #FFFFFF;
    border-radius: 15px 15px 15px 15px;
    height: 330px;
}

.section-services-item:not(:last-child) {
    margin-bottom: 30px;
}

.section-services-item-img {
    margin-bottom: 26px;
}

.section-services-item-content {
    display: flex;
    flex-direction: column;
    padding-left: 45px;
    padding-bottom: 50px;
}

.section-services-item-link {
    font-weight: 500;
    font-size: 20px;
    line-height: 200%;
    color: var(--primary-color);
    margin-right: 4px;
}

.section-services-link-icon {
    display: inline-block;
    width: 11px;
    height: 11px;
    box-sizing: border-box;
    transform: rotate(-45deg);
    border-right: 2px solid var(--primary-color);
    border-bottom: 2px solid var(--primary-color);
    transition: 0.3s;
}


.section-services-item-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 200%;
    color: #000000;
    width: 400px;
}

/* Advantages */

.section-advantages {
    margin-bottom: 70px;
}

.section-advantages-heading {
    font-weight: 400;
    font-size: 40px;
    line-height: 40px;
    color: #333333;
    padding-left: 40px;
    margin-bottom: 30px;
}

.section-advantages-list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    
}

.section-advantages-item {
    width: 275px;
    height: 275px;
    background-color: #FFFFFF;
    border-radius: 15px;
    margin-bottom: 23px;
}

.section-advantages-item:not(:nth-child(4n)) {
    margin-right: 23px;
}

.advantages-content {
    padding-top: 40px;
    padding-left: 45px;
}

.section-advantages-item-icon {
    margin-bottom: 10px;
}

.section-advantages-item-text {
    width: 188px;
    font-weight: 400;
    font-size: 16px;
    line-height: 200%;
    color: #000000;
}

/* Placement */
.section-placement {
    margin-bottom: 70px;
}

.section-placement-heading {
    font-weight: 400;
    font-size: 40px;
    line-height: 40px;
    color: #333333;
    padding-left: 40px;
    margin-bottom: 30px;
}

.section-placement-list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
}

.section-placement-item {
    position: relative;
    width: 374px;
    height: 440px;
    margin-bottom: 23px;
    background-color: #FFFFFF;
    border-radius: 15px;
}

.placement-content {
    padding-top: 36px;
    padding-left: 45px;
    padding-right: 46px;
}

.section-placement-price {
    display: inline-block;
    margin-right: 43px;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    margin-bottom: 16px;
}

.section-placement-rub {
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
}

.stars {
    display: inline;
}

.section-placement-name {
    display: block;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    margin-bottom: 16px;
}

.section-placement-geo {
    display: block;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: #999999;
    margin-bottom: 33px;
}

.section-placement-item:last-child {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background-image: url(/img/more-hotels.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}


.section-placement-link {
    font-weight: 500;
    font-size: 20px;
    line-height: 200%;
    color: #FFFFFF;
    padding-bottom: 27px;
    
}

.section-placement-link::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 27px;
}

.section-placement-link-icon {
    position: absolute;
    right: 54px;
    bottom: 41px;
    display: inline-block;
    width: 11px;
    height: 11px;
    box-sizing: border-box;
    transform: rotate(-45deg);
    border-right: 2px solid #FFFFFF;
    border-bottom: 2px solid #FFFFFF;
    transition: 0.3s;
}

.section-placement-link-icon-container {
    padding-bottom: 38px;
}

/* Form */

.form-container {
    background: #E9E9E9;
    border-radius: 15px;
    padding-bottom: 71px;
    margin-bottom: 70px;
    max-width: 1170px;
    padding-right: 0;
    padding-left: 0;
}

.form-title {
    padding-top: 38px;
    padding-left: 40px;
    font-weight: 400;
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 19px;
}

.form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 45px;
    margin-right: 45px;
    padding: 32px 28px;
    background-color: #FFFFFF;
    border-radius: 15px;
}

.select-desc {
    display: block;
    margin-bottom: 15px;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
}

#city-select {
    outline: none;
    border: 0;    
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    margin-right: 20px;
}

#country-select {
    outline: none;
    border: 0;    
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    /* margin-right: 20px; */
}

.option {
    color: #000000;
}

.form-block:not(:last-child) {
    border-right: 1px solid var(--border-color);
}

.form-block:not(:first-child) {
    padding-left: 20px;
    padding-right: 20px;
}

.input {
    outline: none;
    border: 0;
}

#nights {
    border-bottom: 1px solid var(--border-color);
    max-width: 121px;
}

#tourists {
    border-bottom: 1px solid var(--border-color);
    max-width: 121px;
}

.btn-submit {
    background-color: #FFFFFF;
}

/* Contacts */

.section-contacts-heading {
    font-weight: 400;
    font-size: 40px;
    line-height: 40px;
    color: #333333;
    padding-left: 40px;
    margin-bottom: 26px;
    
}

.section-contacts-content {
    display: flex;
    background-color: #FFFFFF;
    border-radius: 15px;
    padding-left: 46px;
    padding-top: 44px;
    padding-right: 44px;
    padding-bottom: 46px;
}

.section-contacts-list {
    margin-right: 50px;
}

.section-contacts-item {
    display: flex;
    padding-bottom: 23px;
    border-bottom: 1px solid #C4C4C4;;
}

.section-contacts-item:not(:first-child) {
    padding-top: 25px;
}


.section-contacts-item-heading {
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
}

.section-contacts-item-content {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
}

.btn-route {
    color: var(--primary-color);
    background-color: #FFFFFF;
    width: 213px;
    height: 70px;
    border-color: var(--primary-color);
}

.section-contacts {
    margin-bottom: 20px;
}

.section-contacts-link {
    color: var(--primary-color);
}

/* Footer */

.section-footer {
    margin-bottom: 20px;
}

.footer-container {
    width: 1170px;
    background: #333333;
    border-radius: 15px;
    background-image: url(/img/logo-gray.svg);
    background-repeat: no-repeat;
    background-position: bottom right 175.62px;
}

.footer-content {
    display: inline-flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-height: 360px;
    padding-top: 51px;
    padding-left: 52px;
    padding-bottom: 46px;
    padding-right: 51px;
}

.footer-text {
    max-width: 358px;
    font-weight: 400;
    font-size: 16px;
    line-height: 190%;
    color: #FFFFFF;
    margin-bottom: 49px;
}

.footer-link {
    max-width: 237px;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: var(--primary-color);
}

.footer-icons {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 209px;
}

.sova {
    margin-bottom: 20px;
}

.twitter {
    margin-bottom: 20px;
}

.facebook {
    margin-bottom: 20px;
}

.vk {
    margin-bottom: 20px;
}

.footer-icons a {
    border-radius: 50%;
    width: 25px;
    height: 25px;
}